/* Background style */
.common-background, .text-field, .button, .label-name, .content-pane {
    -fx-background-color: #3A506B;
    -fx-background-radius: 25;
}

/* Border style */
.common-border, .text-field, .button, .label-name, .content-pane, .hot-button, .cold-button {
    -fx-border-style: solid inside;
    -fx-border-color: white;
    -fx-border-radius: 25;
    -fx-border-width: 2;
}

/* Font style */
.common-font, .text-field, .button, .label-name, .label, .hot-button, .cold-button {
    -fx-font-family: "Comic Sans MS";
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

/* Shadow style */
.common-shadow, .text-field, .button, .label-name {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 5, 0, 2, 2);
}

.text-field {
    -fx-padding: 5;
    -fx-focus-traversable: false;
    -fx-prompt-text-fill: white;
    -fx-text-alignment: center;
    -fx-min-height: 40;
    -fx-font-size: 18;
    -fx-alignment: center;
}

.button {
    -fx-alignment: center;
    -fx-padding: 10;
    -fx-min-height: 40;
    -fx-min-width: 100;
    -fx-font-size: 18;
}

.button:hover {
    -fx-opacity: 0.7;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.label-name {
    -fx-alignment: center;
    -fx-padding: 10;
    -fx-min-height: 40;
    -fx-min-width: 100;
    -fx-font-size: 18;
}

.info-label {
    -fx-font-size: 17;
    -fx-text-alignment: center;
}

.points-label {
    -fx-font-size: 17;
    -fx-text-alignment: center;
    -fx-font-family: "Comic Sans MS";
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-color: #3A506B;
    -fx-background-radius: 25;
    -fx-border-style: solid inside;
    -fx-border-color: white;
    -fx-border-radius: 25;
    -fx-border-width: 2;
    -fx-min-width: 150;
    -fx-min-height: 40;
    -fx-alignment: center;
    -fx-wrap-text: true;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 5, 0, 2, 2);
}

.content-pane {
    -fx-alignment: center;
    -fx-border-width: 4;
    -fx-border-radius: 20;
    -fx-max-height: 400;
    -fx-max-width: 400;
}

.dialog, .dialog *.header-panel {
    -fx-background-color:  #2E2E2E;
}

.dialog .content {
    -fx-wrap-text: true;
    -fx-font-size: 15   px;
    -fx-pref-width: 400px;
    -fx-pref-height: 100px;
    -fx-padding: 10px;
}

.root {
    -fx-background-color:  #2E2E2E;
}

.toggle-button.hot-button,
.toggle-button.cold-button {
    -fx-border-style: solid inside;
    -fx-border-color: white;
    -fx-border-radius: 25;
    -fx-border-width: 2;
    -fx-font-size: 18px;
    -fx-min-height: 40;
    -fx-min-width: 100;
    -fx-background-radius: 25;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 12 24;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 4, 0, 0, 2);
    -fx-transition: background-color 200ms ease-in-out;
}

.toggle-button.hot-button {
    -fx-background-color: linear-gradient(
            from 0% 0% to 100% 0%,
            #e52d27 0%,
            #f9d423 100%
    );
}

.toggle-button.hot-button:selected {
    -fx-background-color: linear-gradient(
            from 0% 0% to 100% 0%,
            #c1272d 0%,
            #e0aa0f 100%
    );
}

.toggle-button.cold-button {
    -fx-background-color: linear-gradient(
            from 0% 0% to 100% 0%,
            #11998e 0%,
            #38ef7d 50%,
            #0575e6 100%
    );
}
.toggle-button.cold-button:hover {
    -fx-background-color: linear-gradient(
            from 0% 0% to 100% 0%,
            #2ac0a0 0%,
            #38ef7d 50%,
            #4099ff 100%
    );
}
.toggle-button.cold-button:selected {
    -fx-background-color: linear-gradient(
            from 0% 0% to 100% 0%,
            #0e6655 0%,
            #2bb673 50%,
            #0458b8 100%
    );
}

.choice-label {
    -fx-font-size: 36px;
    -fx-text-fill: white;
    -fx-effect:
            dropshadow( gaussian, rgba(0,0,0,0.7), 8, 0.5, 0, 5),
            innershadow( gaussian, rgba(255,255,255,0.3), 4, 0, 0, 0 );
    -fx-padding: 20 0 40 0;
    -fx-alignment: center;
    -fx-cursor: default;
    -fx-transition:
            -fx-scale 150ms ease-in-out,
            -fx-rotate 150ms ease-in-out;
}
.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-bar:vertical, .scroll-bar:horizontal {
    -fx-background-color: #2b2b2b;
}

.scroll-bar .thumb {
    -fx-background-color: #3a3d3f;
    -fx-background-radius: 8;
}

